<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

#set($objectName=$outputor.objectName)
#set($tableName=$outputor.tableName)
#set($tableAlias=$outputor.tableAlias)
#set($param=$outputor.param)

<mapper namespace="${outputor.packageName}.repository.${outputor.className}Mapper">
	<resultMap id="${objectName}Map" type="${objectName}">
		#foreach($column in $outputor.columns)
			#if($column.isPk=="1")<id column="${column.columnName}" property="${column.fieldName}"/>#end
		#end

		#foreach($column in $outputor.columns)
			#if($column.isPk!="1")<result column="${column.columnName}" property="${column.fieldName}"/>#if($!{column.comment})<!-- $!{column.comment} -->#end#end#*jdbcType="${column.jdbcDataType}" javaType="${column.dataType}"*#
		#end
	</resultMap>

	<select id="queryList" parameterType="${objectName}QueryDTO" resultMap="${objectName}Map">
		##<include refid="common.pageBegin" />
		select #foreach($column in $outputor.columnPks)
#if($foreach.count!=1),#end##
${tableAlias}.${column.columnName}##
		#end
		<choose>
			<when test="columns != null and columns.length>0">
				<foreach collection="columns" index="index" item="item">,${item}</foreach>
			</when>
			<otherwise>
        		#foreach($column in $outputor.columnNotPks)
        			#if($column.dbDataType != "CLOB")
,${tableAlias}.${column.columnName}
        			#end
        		#end
			</otherwise>
		</choose>
		FROM $tableName $tableAlias
		<where>
			#foreach($column in $outputor.columns)
				#set($dataType=${column.dataType})
				#set($length=${column.length})
				#set($fieldName=${column.fieldName})
				#set($columnName=${column.columnName})
				#if($column.isPk=="1")
					<if test="${fieldName}Array != null">
						${tableAlias}.${columnName} in
						<foreach collection="${fieldName}Array" index="index" item="item" open="(" separator="," close=")">#{item}</foreach>
					</if>
				#else
					#if(${fieldName}=="status")
						<choose>
							<when test="${fieldName} != null">and ${tableAlias}.${columnName} = #{${fieldName}}</when>
							<when test="${fieldName}Array != null">
								and ${tableAlias}.${columnName} in
								<foreach collection="${fieldName}Array" index="index" item="item" open="(" separator="," close=")">#{item}
								</foreach>
							</when>
						</choose>
					#elseif(${fieldName}=="isDeleted")
						<choose>
							<when test="isDeleted == null">and ${tableAlias}.is_deleted=0</when>
							<otherwise>and ${tableAlias}.is_deleted = #{isDeleted}</otherwise>
						</choose>
					#elseif("$dataType"=="BigDecimal")
						<if test="${fieldName}From != null">and ${tableAlias}.${columnName} >= #{${fieldName}From}</if>
						<if test="${fieldName}To != null"><![CDATA[and ${tableAlias}.${columnName} <= #{${fieldName}To}]]></if>
					#elseif("$dataType"=="Integer" || "$dataType"=="Long" )
						<if test="${fieldName} != null">and ${tableAlias}.${columnName} = #{${fieldName}}</if>
					#elseif("$dataType"=="Date")
						<if test="${fieldName}From != null">and ${tableAlias}.${columnName} >= #{${fieldName}From}</if>
						<if test="${fieldName}To != null">
							<![CDATA[and ${tableAlias}.${columnName} < date_add(#{${fieldName}To}, interval 1 day)]]>
						</if>
					#else
						<if test="${fieldName} != null and ${fieldName}.trim() !=''">and ${tableAlias}.${columnName} = #{${fieldName}}</if>
					#end
				#end
			#end
		</where>
		<choose>
			<when test="sort != null and sort.trim() !=''">
				order by ${sort}
			</when>
			<otherwise>
				<if test="sortByDefault">
					order by ${tableAlias}.${param.columnCreateTime} DESC
				</if>
			</otherwise>
		</choose>
	</select>
</mapper>