#getValidateResources()
<script type="text/javascript" src="#getJsPath()/toolbox/dbReport/dbReport.js"></script>
<div class="title">
    Database Report
</div>
<br/>
<div class="msg-info">
    Please input these database parameters!
</div>
<br/>
<form method="post" id="form1">
    <table class="table1">
        <tr>
            <th>
                Database type
                <span style="color:red">*</span>
            </th>
            <td>
                <select name="databaseType">
                    <option value="mysql">mysql</option>
                    <option value="oracle">oracle</option>
                 </select>
            </td>
        </tr>
        <tr>
            <th>
                Jdbc url
                <span style="color:red">*</span>
            </th>
            <td>
                <input name="jdbcUrl" type="text" class="required" size="70" maxlength="200" value="$!param.jdbcUrl"/>
                <br/>mysql示 例: jdbc:mysql://192.168.0.247:3306/information_schema
                <br/>oracle示例:
            </td>

        </tr>
        <tr>
            <th>
                Schema
                <span style="color:red">*</span>
            </th>

            <td><input name="databaseSchema" type="text" size="40" maxlength="200" value="$!param.databaseSchema"/>
                Mysql 需要提供数据库的schema
            </td>

        </tr>
        <tr>
            <th>
                Jdbc user
                <span style="color:red">*</span>
            </th>

            <td><input name="jdbcUser" type="text" class="required" size="40" maxlength="40" value="$!param.jdbcUser"/>
            </td>

        </tr>
        <tr>
            <th>
                Jdbc password
                <span style="color:red">*</span></th>
            <td><input name="jdbcPassword" type="text" class="required" size="40" maxlength="40"
                       value="$!param.jdbcPassword"/>
            </td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="  ok  "/>
            </td>
        </tr>
    </table>

</form>
