<!DOCTYPE html>
<html>
<head>
	<title>Toolbox - $!screen_title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
	<script type="text/javascript" src="#getWebResourceServer()/jquery/form/jquery.form.min.js"></script>
	<script type="text/javascript" src="#getWebResourceServer()/jquery/jquery-1.8.3.min.js"></script>
	<link rel="stylesheet" type="text/css" href="#getAppServer()/ui/styles/toolbox.css" />
	<script type="text/javascript" src="#getAppServer()/js/toolbox/toolbox.js"></script>
	<script type="text/javascript">
		jQuery(Toolbox.load);
	</script>
</head>
<body>	
	<div style="border-bottom:solid 1px #cccccc;font-size:20px;font-weight:bold">
		Toolbox $!screen_title 
	</div>
	<table border="0">
		<tr>
			<td width="150" valign="top" height="300">
				##<div>
					##<a href="#getAppServer()/toolbox/ormCreator.htm">
						##<img src="#getWebResourceServer()/hs/icons/bullet_red.png" border="0"/>
					   ##orm creator
					##</a>
				##</div>
				<div>				
					<a href="#getAppServer()/toolbox/db-report.htm">
						##<img src="#getWebResourceServer()/hs/icons/bullet_red.png" border="0"/>
						database report
					</a>
				</div>
			</td>
			<td width="10" style="border-right:solid 1px #cccccc">&nbsp;</td>
			<td valign="top" style="padding:15px">$screen_content</td>
		</tr>
	</table>	
	<div style="text-align:center;border-top:solid 1px #cccccc;padding-top:10px;padding-bottom:10px;" >
	 evan-framework v1.0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; author:Evan.Shen
	</div>
</body>
</html>