#macro(getAppServer)
${request.contextPath}##
#end

##
#macro(getJsPath)
${request.contextPath}/js##
#end

#macro(getWebResourceServer)
#getAppServer()/ref/
#end
 
##
#macro(getValidateResources) 
	<script type="text/javascript" src="#getWebResourceServer()/jquery/jquery-validate/jquery.validate.min.js"></script>
	<script type="text/javascript" src="#getWebResourceServer()/jquery/jquery-validate/localization/messages_cn.js"></script>
	<script type='text/javascript' src='#getWebResourceServer()/jquery/jquery-validate/lib/jquery.metadata.js' ></script>
#end