#set($objectName=$outputor.objectName)
#set($columnNotPks=$outputor.columnNotPks)

<div class="formBox">
    <h3>
		<i></i><span>{{screen_title}}</span>
		<div><a><< 返回列表</a></div>
	</h3>	 
    <form method="post" >
        <div class="content">
        	<input name="id"  id="${objectName}Id" type="hidden"  v-model="${objectName}.id"/>
            <table class="c2">            	
            	#foreach($column in $columnNotPks)
				<tr>
            		<th>$!{column.comment}</th>
        			<td>			
        				<input name="${column.fieldName}" maxlength="${column.Length}" class="required #if("$!column.jdbcDataType"=="DECIMAL")number#end" type="text"  v-model="${objectName}.${column.fieldName}"/>
        			</td>
            	</tr>
				#end
            </table>
		</div>
		<div class="form-but">
			<button type="submit" class="button-s4">提交</button>
			<button type="button" class="button-s4">取消</button>
		</div>
	</form>	
</div>