package ${outputor.packageName};

import io.swagger.annotations.ApiModelProperty;

import java.io.Serializable;
import java.util.Date;

#set($className=${outputor.className})
#set($objectName=$outputor.objectName)

/**
*$!{outputor.comment}领域模型
*/
public class ${className}Domain extends ${className} implements Serializable {
	public ${className}Domain new${className}(${className}AddUpdateDTO ${objectName}AddUpdateParams) {
		${className} ${objectName} = new ${className}();
		BeanUtil.quickCopy(${objectName}AddUpdateParams, ${objectName});
		${objectName}.setStatus(PublishStatusEnum.PUBLISHED.getValue());
		return ${objectName};
	}

	public ${className}Domain update${className}(long id, ${className}AddUpdateDTO ${objectName}AddUpdateParams) {
		${className} ${objectName} = new ${className}();

		BeanUtil.quickCopy(${objectName}AddUpdateParams, ${objectName});
		${objectName}.setId(id);

		return ${objectName};
	}
}
